<% if (typeof error !== "undefined") { %>	
	<div class="alert alert-danger">
			<%= error %>
	</div>
<% } %>

<div class="jumbotron col-sm-12">
	<div class="col-sm-1"></div>
	<h1 class="display-3">Load A Saved Wallet</h1>
	<p class="lead">Load a file and password for decrypting the wallet:</p>

	<form class="row" method="post" enctype="application/x-www-form-urlencoded">

		<div class="col-md-4 mb-3">
			<div class="form-group">
				<label>Name of the file</label>
				<input type="text" class="form-control" name="filename" required>
			</div>

			<div class="form-group">
				<label>Password</label>
				<input type="password" class="form-control" name="password" required>
			</div>

			<div class="form-group">
				<input type="submit" class="btn btn-defautl" value="Decrypt">
			</div>
			</div>
	</form>
</div>

<% if (typeof address !== "undefined") { %>
<div class="row">
	<div class="alert alert-dismissible alert-success">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<strong>Address : </strong> <%= address %> <br>
		<strong>Private Key : </strong> <%= privateKey %><br>
		<strong>Mnemonic : </strong> <%= mnemonic %>
	</div>
</div>
<% } %>