<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">Kingsland Wallet</a>
		</div>
		<ul class="nav navbar-nav">
			<li class="active"><a href="/create">Create</a></li>
			<li><a href="/balance">Balance</a></li>
			<li><a href="/send">Send</a></li>
			<li><a href="/load">Load</a></li>
			<li><a href="/recover">Recover</a></li>
		</ul>
	</div>
</nav>