<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<% if (active == 'index') { %>
				<a class="navbar-brand" href="#">Kingsland Wallet</a>
			<% } else { %>
				<a class="navbar-brand" href="/">Kingsland Wallet</a>
			<% } %>
		</div>
		<ul class="nav navbar-nav">
			<% if (wallet == undefined || wallet == null) { %>
				<% if (active == 'create') { %>
					<li class="active">
				<% } else { %>
					<li>
				<% } %>
				<a href="/create">Create</a></li>

				<% if (active == 'recover') { %>
					<li class="active">
				<% } else { %>
					<li>
				<% } %>
				<a href="/recover">Recover</a></li>

			<% } else { %>

				<% if (active == 'balance') { %>
					<li class="active">
				<% } else { %>
					<li>
				<% } %>
				<a href="/balance">Balance</a></li>

				<% if (active == 'send') { %>
					<li class="active">
				<% } else { %>
					<li>
				<% } %>
				<a href="/send">Send</a></li>

				<% if (active == 'logout') { %>
					<li class="active">
				<% } else { %>
					<li>
				<% } %>
				<a href="/logout">Logout</a></li>

			<% } %>

		</ul>
	</div>
</nav>