<!DOCTYPE html>
<html>
<head>
	<title>Wallet</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../css/stylesheet.css">
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
</head>
<body>
	<div class="contrainer">
		<%- navbar %>

		<% if (typeof id !== "null" && typeof id !== "undefined") { %>
			<strong>Session ID: </strong> <%= id %><br />
		<% } %>
		
		<%- body %>

		<div class="credits">Icon made by [author link] from www.flaticon.com </div>
</div>
</body>
</html>