details.transactionsMap[open] summary > span {
	display: none;
}

details.transactionsMap[closed] summary > span {

	display: initial;
}

details.transactionsMap > summary {
	list-style-type: none;
}

li.transactionsMap {
	list-style-type: '-';
	padding-left: 0.5rem;
}