header {
  background-color: #0093ee;
}

header .header-inner {
  display: flex;
	flex-direction: column;
  /* grid-template-columns: 1fr auto auto; */
  padding: 10px;
  max-width: 1200px;
  margin: 0 auto;
	color: white;
}

.full-screen header .header-inner {
  max-width: 100%;
}

header a, header Link {
  color: white;
  text-decoration: none;
  padding: 4px 8px;
  margin-right: 5px;
  border-radius: 4px;
}

header a:hover {
  background-color: #ffffff50;
}

header .active {
  background-color: #ffffff30;
}

section.logo {
	display: flex;
	justify-content: space-between;
	/* border: 1px solid pink; */
}

div.port {
	font-size: 0.6rem;
	color: #ddd;
	padding-left: 20px;
}